body{
	font-family: sans-serif;
}

#stop{
	display: block;
	position: fixed;
	width: 5em;
	height: 2.5em;
	background: rgba(255, 0, 0, 0.8);
	top: 2.5em;
	right: 1em;
	color: white;
	text-align: center;
	padding-top: 1.4em;
	cursor: pointer;
}