*{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html { height: 100% }

body { height: 100%; margin: 0; padding: 0 }

#map_canvas { width:100%; height:100%; }

body{
	font-family: sans-serif;
	font-size: 14px;
}

#settings{
	position: fixed;
	width: 11em;
	background: rgba(0, 0, 0, 0.5);
	top: 3em;
	right: 1em;
	padding: 1em;
	color: white;
	border-radius: 4px;
}

#settings ul{
	margin-top: 1em;
	margin-bottom: 0;
	list-style: none;
	padding: 0;
	font-weight: bold;
}

#settings ul li:before{
	content: "\25A0  ";
	font-size: 2em;
	float: left;
	line-height: .5em;
}

#startstop{
	width: 100%;
	height: 2.5em;
	text-align: center;
	padding-top: .8em;
	cursor: pointer;
	margin: 0 auto;
	margin-bottom: 1em;
}

.stopped{
	background: rgba(0, 255, 0, 0.5);
}

.started{
	background: rgba(255, 0, 0, 0.5);
}

label{
	margin-left: .5em;
}

select{
	margin-left: 1em;
}

input{
	margin: 0;
}

#map_canvas div{
	cursor: hand !important;
}